body {
    background-color: darkgreen;

  }

#dealerside, #playerside{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#dealerside svg, #playerside svg {
    border: 10px solid white;
    border-radius: 11px;
}